<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vungle</key>
	<dict>
		<key>vungleId</key>
		<string>5923cee7c5ee0fcf13000f4e</string>
		<key>placements</key>
		<array>
			<string>GAMEOVE79205</string>
		</array>
	</dict>
	<key>GDT</key>
	<dict>
		<key>appId</key>
		<string>1105344611</string>
		<key>banner</key>
		<string>4090812164690039</string>
		<key>inter</key>
		<string>4070523238113077</string>
		<key>native</key>
		<string></string>
		<key>splash</key>
		<string>9040714184494018</string>
	</dict>
	<key>AdMob</key>
	<dict>
		<key>appId</key>
		<string>ca-app-pub-7838252230258105~5579788076</string>
		<key>banner</key>
		<string>ca-app-pub-7838252230258105/1413613674</string>
		<key>inter</key>
		<string>ca-app-pub-7838252230258105/2890346870</string>
		<key>native</key>
		<string></string>
		<key>reward</key>
		<string>ca-app-pub-7838252230258105/4367080070</string>
		<key>testDevices</key>
		<array/>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>appId</key>
		<string>321510348285006</string>
		<key>banner</key>
		<string>321510348285006_321510808284960</string>
		<key>inter</key>
		<string>321510348285006_321511101618264</string>
		<key>native</key>
		<string>321510348285006_321511274951580</string>
		<key>testDevices</key>
		<array/>
	</dict>
	<key>LocalAd</key>
	<dict>
		<key>default</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://itunes.apple.com/app/id1065482853</string>
				<key>img</key>
				<string>localad_banner_default0</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://itunes.apple.com/app/id1180453364</string>
				<key>img</key>
				<string>localad_banner_default1</string>
			</dict>
		</array>
		<key>CN</key>
		<array>
			<dict>
				<key>url</key>
				<string>https://itunes.apple.com/app/id1217362864</string>
				<key>img</key>
				<string>localad_banner_cn</string>
			</dict>
			<dict>
				<key>url</key>
				<string>https://itunes.apple.com/app/id1090723696</string>
				<key>img</key>
				<string>localad_banner_cn_1</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
